html {
  height: 100%;
}

body {
  height: 100%;
}

header {
  position: fixed;
  width: 100%;
}

.content {
  min-height: 100%;
  padding-top: 80px;
}

#intro {
  background-color: aliceblue;
}

#portfolio {
  background-color: aqua;
}

#skills {
  background-color: rgb(74, 146, 18);
}

#contact {
  background-color: rgb(31, 86, 86);
}

#diamonds {
  left: 0px;
  top: 50%;
  background-color: blueviolet;
  position: fixed;
}

.diamond {
  padding: 5px;
}
