#intro {
  background-color: aliceblue;
}
#portfolio {
  background-color: aqua;
}
#skills {
  background-color: rgb(74, 146, 18);
}
#contact {
  background-color: rgb(31, 86, 86);
}
.content {
  min-height: 100%;
}

html {
  height: 100%;
}
body {
  height: 100%;
}

.navbar {
  position: fixed !important;
}
